@media (min-width: 1200px) {
  .container {
    max-width: 1310px; } }
body {
  font-family: 'Open Sans', sans-serif; }

header {
  background-color: #323232;
  font-weight: 700;
  font-size: 0.875em; }
  header .nav {
    padding-right: 3.7em; }
    header .nav .nav-item {
      padding: 2.187em 0.55em 1.6em; }
      header .nav .nav-item .nav-link {
        color: #e0e0e0; }
      header .nav .nav-item .portfolio-link {
        padding: .5rem 2rem .5rem; }
      header .nav .nav-item:hover {
        background-color: #ff2d2d; }

.header-content {
  margin: 5.750em 0 6.875em; }
  .header-content h1 {
    font-weight: 800;
    font-size: 3.750em;
    letter-spacing: 2px; }
  .header-content p {
    opacity: 0.8;
    width: 480px;
    height: 77px;
    line-height: 28px;
    margin-bottom: 3.750em; }
  .header-content .contact-button {
    font-weight: 700;
    font-size: 1.125em;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    color: white;
    width: 227px;
    height: 55px;
    cursor: pointer; }
    .header-content .contact-button:hover {
      background-color: #d72121; }
